.CastAudioOverlay {
    background-color: rgba(251, 251, 251, 0.75);
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.CastAudioOverlay__WaitingContainer {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}
